In [8]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [24]:
SERVER = 'DESKTOP-LQOJV4Q\SQLEXPRESS'
DATABASE = 'master'
DRIVER = 'ODBC Driver 17 for SQL Server'
DATABASE_CONNECTION = f'mssql://@{SERVER}/{DATABASE}?driver={DRIVER}'
engine = create_engine(DATABASE_CONNECTION)

In [17]:
#conn = engine.connect()
#df = pd.read_sql_query("select * from [dbo].[sample_data]", conn)

In [5]:
#df = pd.read_sql_table("sample_data", engine)
df = pd.read_sql_table("sample_data", engine, columns = ['all_date', 
                                                        'product_id', 
                                                        'product_name', 
                                                        'customer_id', 
                                                        'customer',
                                                        'supplier_id',
                                                        'supplier',
                                                        'category',
                                                        'sale_quantity',
                                                        'revenue',
                                                        'profit',
                                                        'stock_quantity',
                                                        'cost_of_stock'])

In [85]:

query = '''
        SELECT YEAR(all_date) год,
               MONTH(all_date) месяц,
               FLOOR(SUM(revenue)) выручка,
               ROUND(SUM(sale_quantity), 0) количество
        FROM sample_data
        WHERE YEAR(all_date)>2017
        GROUP BY YEAR(all_date), MONTH(all_date)
        ORDER BY 1, 2
    '''
data = pd.read_sql(query, engine)
data

     год  месяц     выручка  количество
0   2018      1   9073427.0   2432291.0
1   2018      2   9746420.0   1967203.0
2   2018      3  10802790.0   2933636.0
3   2018      4   9217245.0   3276625.0
4   2018      5  10760916.0   2566488.0
5   2018      6  11876066.0   1406851.0
6   2018      7  12437569.0   2063054.0
7   2018      8  12542964.0   1964415.0
8   2018      9  14077252.0   1175604.0
9   2018     10  13697852.0   1664585.0
10  2018     11  14359594.0   1066616.0
11  2018     12  16582955.0   1353984.0
12  2019      1   8851446.0    983554.0
13  2019      2  11860104.0   1666458.0
14  2019      3  12233738.0   1117674.0
15  2019      4  12663449.0    811497.0
16  2019      5  12160785.0   1294273.0
17  2019      6  12086058.0    876090.0
18  2019      7  14397435.0   1091306.0
19  2019      8  14546629.0   1041563.0
20  2019      9  14390406.0    794761.0
21  2019     10  15412873.0    737602.0
22  2019     11  13029140.0    443986.0
23  2019     12  17141276.0    646303.0
24  2020      1  11424657.0    435258.0
25  2020      2  10203275.0    663339.0
26  2020      3  14005889.0   1012859.0
27  2020      4  11826110.0    388066.0
28  2020      5  11416197.0    709872.0
29  2020      6  15630031.0   1373102.0
30  2020      7  14560606.0    527880.0
31  2020      8  16358243.0   1072846.0
32  2020      9  18696514.0    878652.0
33  2020     10  17390897.0    778282.0
34  2020     11  14000259.0    797654.0
35  2020     12  22345343.0    861851.0
36  2021      1  13154769.0    419082.0
37  2021      2  16921419.0    665065.0
38  2021      3  17505870.0    636302.0
39  2021      4  18417130.0    465158.0
40  2021      5  17607181.0    479592.0
41  2021      6  19247006.0    785381.0
42  2021      7  18626644.0    952994.0
43  2021      8  18680581.0    545890.0