In [8]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [24]:
SERVER = 'DESKTOP-LQOJV4Q\SQLEXPRESS'
DATABASE = 'master'
DRIVER = 'ODBC Driver 17 for SQL Server'
DATABASE_CONNECTION = f'mssql://@{SERVER}/{DATABASE}?driver={DRIVER}'
engine = create_engine(DATABASE_CONNECTION)

In [17]:
#conn = engine.connect()
#df = pd.read_sql_query("select * from [dbo].[sample_data]", conn)

In [5]:
#df = pd.read_sql_table("sample_data", engine)
df = pd.read_sql_table("sample_data", engine, columns = ['all_date', 
                                                        'product_id', 
                                                        'product_name', 
                                                        'customer_id', 
                                                        'customer',
                                                        'supplier_id',
                                                        'supplier',
                                                        'category',
                                                        'sale_quantity',
                                                        'revenue',
                                                        'profit',
                                                        'stock_quantity',
                                                        'cost_of_stock'])

In [86]:

query = '''
        SELECT YEAR(all_date) год,
               MONTH(all_date) месяц,
               SUM(revenue) выручка,
               ROUND(SUM(sale_quantity), 2) количество
        FROM sample_data
        WHERE YEAR(all_date)>2017
        GROUP BY YEAR(all_date), MONTH(all_date)
        ORDER BY 1, 2
    '''
data = pd.read_sql(query, engine)
data

     год  месяц      выручка  количество
0   2018      1   9073427.47  2432290.59
1   2018      2   9746420.62  1967203.42
2   2018      3  10802790.42  2933635.69
3   2018      4   9217245.90  3276624.68
4   2018      5  10760916.73  2566487.70
5   2018      6  11876066.28  1406850.80
6   2018      7  12437569.84  2063054.15
7   2018      8  12542964.90  1964414.70
8   2018      9  14077252.60  1175604.44
9   2018     10  13697852.65  1664584.96
10  2018     11  14359594.36  1066615.80
11  2018     12  16582955.19  1353983.50
12  2019      1   8851446.20   983553.90
13  2019      2  11860104.04  1666458.14
14  2019      3  12233738.65  1117674.40
15  2019      4  12663449.45   811496.77
16  2019      5  12160785.09  1294273.35
17  2019      6  12086058.80   876090.37
18  2019      7  14397435.00  1091305.82
19  2019      8  14546629.34  1041563.23
20  2019      9  14390406.20   794760.80
21  2019     10  15412873.24   737601.50
22  2019     11  13029140.01   443985.98
23  2019     12  17141276.21   646303.00
24  2020      1  11424657.70   435257.90
25  2020      2  10203275.05   663339.25
26  2020      3  14005889.23  1012858.56
27  2020      4  11826110.70   388065.75
28  2020      5  11416197.48   709871.86
29  2020      6  15630031.92  1373102.39
30  2020      7  14560606.80   527879.99
31  2020      8  16358243.49  1072846.15
32  2020      9  18696514.37   878652.02
33  2020     10  17390897.52   778281.59
34  2020     11  14000259.94   797654.26
35  2020     12  22345343.02   861850.83
36  2021      1  13154769.46   419082.05
37  2021      2  16921419.55   665064.70
38  2021      3  17505870.17   636301.51
39  2021      4  18417130.71   465157.89
40  2021      5  17607181.78   479591.89
41  2021      6  19247006.83   785380.85
42  2021      7  18626644.81   952994.45
43  2021      8  18680581.42   545890.13