In [8]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [24]:
SERVER = 'DESKTOP-LQOJV4Q\SQLEXPRESS'
DATABASE = 'master'
DRIVER = 'ODBC Driver 17 for SQL Server'
DATABASE_CONNECTION = f'mssql://@{SERVER}/{DATABASE}?driver={DRIVER}'
engine = create_engine(DATABASE_CONNECTION)

In [17]:
#conn = engine.connect()
#df = pd.read_sql_query("select * from [dbo].[sample_data]", conn)

In [5]:
#df = pd.read_sql_table("sample_data", engine)
df = pd.read_sql_table("sample_data", engine, columns = ['all_date', 
                                                        'product_id', 
                                                        'product_name', 
                                                        'customer_id', 
                                                        'customer',
                                                        'supplier_id',
                                                        'supplier',
                                                        'category',
                                                        'sale_quantity',
                                                        'revenue',
                                                        'profit',
                                                        'stock_quantity',
                                                        'cost_of_stock'])

In [44]:

    query = '''
        SELECT all_date период,
               SUM(revenue) выручка,
               SUM(sale_quantity)количество
        FROM [dbo].[sample_data]
        GROUP BY all_date
    '''
    data = pd.read_sql(query, engine)

In [27]:
data

      all_date      выручка   количество
0   2019-09-01  14390406.20   794760.800
1   2017-01-01   6886561.52  2984600.450
2   2021-03-01  17505870.17   636301.514
3   2021-04-01  18417130.71   465157.885
4   2017-09-01  12141851.05  3657671.779
5   2018-04-01   9217245.90  3276624.683
6   2020-11-01  14000259.94   797654.258
7   2017-05-01  10118733.10  3774226.776
8   2019-02-01  11860104.04  1666458.140
9   2018-10-01  13697852.65  1664584.960
10  2017-08-01  11603289.55  3634686.750
11  2019-01-01   8851446.20   983553.900
12  2020-08-01  16358243.49  1072846.154
13  2019-05-01  12160785.09  1294273.350
14  2019-08-01  14546629.34  1041563.230
15  2021-06-01  19247006.83   785380.850
16  2018-06-01  11876066.28  1406850.800
17  2018-03-01  10802790.42  2933635.694
18  2017-11-01  10423876.65  2466059.560
19  2020-04-01  11826110.70   388065.750
20  2021-02-01  16921419.55   665064.701
21  2019-07-01  14397435.00  1091305.822
22  2017-07-01   9399872.17  3292541.210
23  2019-11-01  13029140.01   443985.984
24  2018-12-01  16582955.19  1353983.500
25  2020-10-01  17390897.52   778281.587
26  2020-07-01  14560606.80   527879.990
27  2021-05-01  17607181.78   479591.888
28  2017-04-01   8380114.10  2974065.218
29  2020-03-01  14005889.23  1012858.560
30  2017-10-01  13306130.37  3571227.115
31  2018-01-01   9073427.47  2432290.592
32  2018-09-01  14077252.60  1175604.440
33  2018-02-01   9746420.62  1967203.420
34  2020-01-01  11424657.70   435257.900
35  2019-10-01  15412873.24   737601.500
36  2018-08-01  12542964.90  1964414.700
37  2021-08-01  18680581.42   545890.130
38  2019-04-01  12663449.45   811496.770
39  2021-01-01  13154769.46   419082.048
40  2020-02-01  10203275.05   663339.245
41  2018-05-01  10760916.73  2566487.700
42  2020-12-01  22345343.02   861850.834
43  2017-12-01  11892994.66  2769992.350
44  2019-06-01  12086058.80   876090.370
45  2017-02-01   8724713.12  3711893.900
46  2017-03-01   9908411.75  4093498.200
47  2020-09-01  18696514.37   878652.024
48  2020-06-01  15630031.92  1373102.389
49  2017-06-01   8799121.06  3345598.050
50  2021-07-01  18626644.81   952994.450
51  2020-05-01  11416197.48   709871.858
52  2019-12-01  17141276.21   646303.000
53  2018-11-01  14359594.36  1066615.800
54  2019-03-01  12233738.65  1117674.400
55  2018-07-01  12437569.84  2063054.150